<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css"
        rel="stylesheet" type="text/css" />
    <style type="text/css">
        body{font:.85em verdana,helvetica,sans-serif;background:#fff;color:#232323}a:visited,a:link,a:active,a{color:#c44}a:hover{color:#f44}.myslider{margin:10px 0}input[type="text"]{width:5em;text-align:right}label,.tmplCont{clear:both}label{display:block;width:12em;text-align:right;margin:0 0.4em}.col,label,.tmpl{float:left}.col{width:47%;margin:0 1%}dt{font-style:italic}dd{margin-bottom:1em}.footnotes,.tmplCont,.credits,.toggleLink{font-size:80%}.tmplCont{display:none;margin-left:20px}.tmpl{list-style-type:none;margin:10px}.tmpl,.tmpl li{padding:0}.tmpl li{margin:0}
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    @RenderBody()
</body>
</html>
