@{
    ViewBag.Title = "Zebra Rate Calculator by Andre Loker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>
    Zebra Rate Calculator</h1>
<div class="col">
    <div id="knobSlider" class="myslider"></div>
    <div><label for="knobValue">Knob value</label><input type='text' id="knobValue" /></div>
</div>
<div class="col">
    <div id="freqSlider" class="myslider">
    </div>
    <div>
        <label for="knobValue">Speed scaling factor</label><input type='text' id="freqValue" />
        @Html.Partial("_Templates", "S")
    </div>
    <div style="clear: both;">
        <label for="knobValue">Duration scaling factor</label><input type='text' id="durValue" />
        @Html.Partial("_Templates", "D")
    </div>
</div>
<p><a id="toggle" class="toggleLink" href="">Toggle manual and information</a></p>
<div id="info" style="display: none;">
@Html.Partial("_Info")
</div>
<p class="credits">
    Created by Andre Loker. <a href="http://u-he.com/cms/zebra">Zebra</a> is a product
    of <a href="http://u-he.com">u-he</a>.</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
<script type="text/javascript">

    function knobToSpeed(value) {
        return Math.pow(value / 100.0, 3.0);
    }

    function speedToKnob(value) {
        return 100.0 * Math.pow(value, 1.0 / 3.0);
    }

    var SLIDER_SCALE = 100.0;
    var KNOB_MIN = 5.0;
    var KNOB_MAX = 200.0;
    var SPEED_MIN = knobToSpeed(KNOB_MIN);
    var SPEED_MAX = knobToSpeed(KNOB_MAX);
    var DUR_MIN = 1.0 / SPEED_MAX;
    var DUR_MAX = 1.0 / SPEED_MIN;

    var model = {
        knob: 100.0,
        speed: 1.0,
        duration: 1.0
    };

    function round(value) {
        var ROUNDING = 1000.0;
        return Math.floor((value * ROUNDING) + 0.5) / ROUNDING;
    }

    function updateGui() {

        $("#knobSlider").slider('option', 'value', model.knob * SLIDER_SCALE);
        $("#freqSlider").slider('option', 'value', model.speed * SLIDER_SCALE);
        $("#knobValue").val(round(model.knob));
        $("#freqValue").val(round(model.speed));
        $("#durValue").val(round(model.duration));
    }

    function updateFromKnob(value) {
        value = Math.min(KNOB_MAX, Math.max(KNOB_MIN, value));
        model.knob = value;
        model.speed = knobToSpeed(value);
        model.duration = 1.0 / model.speed;
        updateGui();
    }

    function updateFromSpeed(value) {
        value = Math.min(SPEED_MAX, Math.max(SPEED_MIN, value));
        model.knob = speedToKnob(value);
        model.speed = value;
        model.duration = 1.0 / model.speed;
        updateGui();
    }

    function updateFromDuration(value) {
        value = Math.min(DUR_MAX, Math.max(DUR_MIN, value));
        var speed = 1.0 / value;
        model.knob = speedToKnob(speed);
        model.speed = speed;
        model.duration = value;
        updateGui();
    }

    function getFloatValue(id) {
        var parsed = parseFloat($(id).val());
        if (isNaN(parsed)) {
            alert('Enter a number');
            $(id).select().focus();
            return NaN;
        }
        return parsed;
    }

    function getTemplateValue(link) {
        return $(link).children("input").val();
    }
    $(function () {

        $(".tmplD").click(function (e) {
            e.preventDefault();
            var val = getTemplateValue(this);
            updateFromDuration(val);
        });
        $(".tmplS").click(function (e) {
            e.preventDefault();
            var val = getTemplateValue(this);
            updateFromSpeed(val);
        });

        $("#toggleTmplD").click(function (e) {
            e.preventDefault();
            $("#tmplD").toggle();
            $("#tmplS").hide();

        });
        $("#toggleTmplS").click(function (e) {
            e.preventDefault();
            $("#tmplS").toggle();
            $("#tmplD").hide();
        });

        $("#knobSlider").slider({
            max: KNOB_MAX * SLIDER_SCALE,
            min: KNOB_MIN * SLIDER_SCALE,
            slide: function (event, ui) { updateFromKnob(ui.value / SLIDER_SCALE); }

        });

        $("#freqSlider").slider({
            max: SPEED_MAX * SLIDER_SCALE,
            min: SPEED_MIN * SLIDER_SCALE,
            slide: function (event, ui) { updateFromSpeed(ui.value / SLIDER_SCALE); }
        });

        $("#freqValue").change(function () {
            var value = getFloatValue(this);
            if (!isNaN(value)) {
                updateFromSpeed(value);
            }
        });

        $("#knobValue").change(function () {
            var value = getFloatValue(this);
            if (!isNaN(value)) {
                updateFromKnob(value);
            }
        });

        $("#durValue").change(function () {
            var value = getFloatValue(this);
            if (!isNaN(value)) {
                updateFromDuration(value);
            }
        });

        $("#toggle").click(function (e) {
            e.preventDefault();
            $("#info").toggle();
        });

        $("#info").hide();
        updateGui();
    });

</script>
